html(lang="en" class="full-height")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title zagana inventory
        link(rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css")
        link(href='assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='assets/css/mdb.min.css', rel='stylesheet')
        link(href='assets/css/custom.css', rel='stylesheet')
        <link href="landing/css/owl.carousel.css" rel="stylesheet">
        <link href="landing/css/owl.theme.default.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="landing/css/jquery-ui.css">
        <link href="landing/css/style.css" rel="stylesheet">
        <link rel="icon" href="/icons/cityprologo.png" sizes="16x16">

    block body
    